.postImage {
  width: 600px;
  height: 500px;
}
.posts-display {
  border: 2px solid black;
  padding: 10px;
  margin: 20px 100px 20px 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.displaying-posts {
  display: flex;
  flex-direction: column-reverse;
}
.magnifying-glass {
  margin-left: 450px;
  margin-top: 100px;
}
.likedHeart {
  animation: like 1.9s 1;
  color: red;
}
@keyframes like {
  50% {
    transform: translateY(-300px) translateX(70px) scale(2.2);
  }
}
.post-footer {
  display: flex;
  gap: 120px;
}
.all-comments {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  border-top: 0.5px solid black;
}
.single-comment {
  border-bottom: 0.5px solid black;
}
.input-comment {
  width: 250px;
  height: 25px;
  font-size: 20px;
}
.modal-body {
  overflow: scroll;
  max-height: 300px;
}

@media (max-width: 600px) {
  .postImage {
    width: 300px;
    height: 400px;
  }
  .posts-display {
    margin: 10px 5px 10px 5px;
  }
  .post-footer {
    gap: 50px;
  }
  .magnifying-glass {
    margin-left: 180px;
    margin-top: 100px;
  }
  .modal-body {
    max-height: 500px;
  }
}
